body {
	background-color: #000;
	font-family: 'Calibri', sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }

  table {
	flex: 1;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  }

  td {
	vertical-align: middle;
  }

  h1 {
	text-transform: uppercase;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 3em;
	margin-bottom: 0.5em;
	color: #ff00ff;
  }

  marquee {
	font-size: 1.5em;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	margin-top: -10px;
	color: #00ff00;
	padding-bottom: 10px;
  }

  #main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
  }

  .section-divider {
	width: 100%;
	height: 2px;
	background-color: #ff00ff;
	margin-bottom: 20px;
  }

  section {
	margin-bottom: 30px;
	text-align: center;
	padding-top: 20px;
  }

  section h2 {
	font-size: 2em;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	margin-bottom: 20px;
	color: #ff00ff;
  }

  section p {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #00ffff;
  }

  .project {
	background-color: #00ff00;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .project h3 {
	font-size: 1.2em;
	color: #ff00ff;
	margin-bottom: 10px;
  }

  .project p {
	font-size: 1em;
	color: #000;
	margin-bottom: 10px;
  }

  .project a {
	color: #ff0000;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 10px;
  }

  a {
	color: #ff0000;
	text-decoration: none;
	transition: all 0.3s ease;
  }

  a:hover,
  a:focus {
	text-decoration: underline;
	color: #ffff00;
  }

  #visitor-counter {
	font-size: 1.2em;
	color: #00ffff;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: inline-block;
  }

  footer {
	background-color: #000;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	padding: 10px;
	text-align: center;
	color: #fff;
  }